[submodule "dependencies/librdkafka"]
	path = dependencies/librdkafka
	url = https://github.com/edenhill/librdkafka.git
[submodule "dependencies/cppkafka"]
	path = dependencies/cppkafka
	url = https://github.com/mfontanini/cppkafka.git
[submodule "dependencies/libpqxx"]
	path = dependencies/libpqxx
	url = https://github.com/jtv/libpqxx.git
[submodule "dependencies/kubernetes-c"]
	path = dependencies/kubernetes-c
	url = https://github.com/homer6/kubernetes-c.git
[submodule "dependencies/kubepp"]
	path = dependencies/kubepp
	url = https://github.com/homer6/kubepp.git
[submodule "dependencies/cyrus-sasl"]
	path = dependencies/cyrus-sasl
	url = https://github.com/cyrusimap/cyrus-sasl.git
[submodule "dependencies/libyaml"]
	path = dependencies/libyaml
	url = https://github.com/yaml/libyaml
