/CMakeCache.txt
/CMakeFiles/
/Makefile
/cmake_install.cmake
/.idea
/cmake-build-debug
/build/jetstream



/build/CMakeCache.txt
/build/CMakeFiles
/build/Makefile
/build/cmake_install.cmake

/jetstream